<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Avaliação formadora 2 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="container">
      <div class='main'>
        <img class='tokenImage' src="assets/img/Foto.jpg" alt="Foto" />
        <h2>Gabriel Moreira</h2>
        <p class='description'>Matricula:23101833 Turma:ADS0302M.</p>
        <div class='tokenInfo'>
        </div>
        <hr />
        <div class='creator'>
          <div class='wrapper'>
            <img src="assets/img/Unisuam-logo.png" alt="Creator" />
          </div>
          <p><ins>Avaliação Formadora</ins> II</p>
        </div>
      </div>
    </div>
    <button class="custom-button" (click)="irParaIMC()">Ir para IMC</button>
  </div>
  
</ion-content>